<%= layout("/layouts/boilerplate") %>
<body>
    <h3>Listing Details</h3>
    <div class="listing-details-container">
        <img src="<%= listing.image_url %>" alt="<%= listing.title %>">
        <h3><%= listing.title %></h3>
        <p><%= listing.description %></p>
        <div class="price">&#8377;<%= listing.price.toLocaleString("en-IN") %></div>
        <div class="location"><%= listing.location %></div>
        <div class="country"><%= listing.country %></div>
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-edit">Edit</a>
        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE" style="display:inline;">
            <button class="btn btn-delete">Delete</button>
        </form>
    </div>
    
</body>
